/* Fonts style */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
      height: 100vh;
      display: flex;
     }

.hero-image {
    background: url("./images/animals.jpg")no-repeat center center;
     width: 100%;
     height: 100vh;
     background-size: cover;
}

.main-header {
    font-family: 'Luckiest Guy', cursive;
    color: rgb(255, 60, 0);
    text-align: center;
    letter-spacing: 3px;
}

/* styles for game board */
.memory-game {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
/* code learned from https://www.w3schools.com/cssref/func_calc.asp */
.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
}
.card-back, .front1, .front2, .front3, .front4, .front5, .front6, .front7, .front8 {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
}