/* Fonts style */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
  }
  body {
      height: 100vh;
      display: flex;
      }

.hero-image {
    background: url("./images/animals.jpg")no-repeat center center;
     width: 100%;
     height: 100vh;
     background-size: cover;
}

.main-header {
    color: rgb(33, 11, 224);
    text-align: center;
    letter-spacing: 3px;
    margin-top: 2%;
    text-shadow: rgb(240,255,255)4px 4px;
}

/* styles for game board */
.memory-game {
    width: 70%;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
/* code learned from https://www.w3schools.com/cssref/func_calc.asp */
.memory-card {
    width: auto;
    height: auto;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d ;
    transition: transform 0.5s;
}
/* code learned from https://www.w3schools.com/cssref/css3_pr_transform.asp */
.memory-card:active {
  transform: scale(0.95);
  transition: transform 0.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.card-back, .card-front {
    width: 100%;
    height: 100%;
    border: 3px solid orange;
    position: absolute;
    backface-visibility: hidden;
}
.card-front {
  transform: rotateY(180deg);
}

/* Styles for buttons */

#buttons {
  display: flex;
  justify-content: center;
 

}
.button {
 background-color: rgb(33, 11, 224);
  color:rgb(240,255,255);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 5px;
  margin: 5px;
}

/* style for footer */
footer {
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    padding: 8px 8px 0px 8px;
    background-color: rgba(253, 120, 4, 0.8);
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  footer i {
    font-size: 1.5rem;
    color: rgb(240,255,255);
    margin-left: 1rem;
    cursor: pointer;
  }
  
  footer i:hover {
    color:rgb(0, 0, 0);
  }